# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

*.ipynb

# vscode
.vscode/
.dbs/

docker/minio/data/.minio.sys/*
docker/minio/data/.writable-check*

*.mitzu
serverless/.aws-sam/*
.mutmut-cache


!tests/**/trino_test_project.*

release/app/cache/
release/requirements.txt
cache/
cache.db*
storage/

examples/notebook/*ipynb.py
private_notebooks/

sample_project.db
*.env
*.rdb
storage.db

docker_cache/
storage.db