.main {
    min-width: 450px
}

.DateInput_input {
    padding: 4px;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    color: var(--bs-gray-dark);
    height: 36px;
}


.DateRangePickerInput .DateInput_input {
    border: 0px;
}

.DateRangePickerInput_clearDates_default:hover {
    background: transparent;
}


.DateInput {
    width: 100px;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    color: var(--bs-gray-dark);
    height: 37px;
    line-height: 37px;
}

.DateRangePickerInput_clearDates_svg {
    height: 10px;
}

.DateRangePickerInput_arrow_svg {
    height: 16px;
}

.complex_segment .card-body {
    padding: 0px;
    border-radius: 5px;
}

.metric_config .Select {
    height: 39px;
}

.metrics_config_container .Select-control {
    height: 39px;
}

.metrics_config_container .Select-control .Select-value {
    line-height: 39px;
}

.Select-value-label {
    color: var(--bs-gray-dark);
}

.complex_segment .Select-arrow-zone {
    display: None;
}

.Select {
    border-radius: 0px;
    font: var(--bs-font-sans-serif);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    color: var(--bs-gray-dark);
}


.Select-control {
    border-radius: 0px;
    font: var(--bs-font-sans-serif);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    color: var(--bs-gray-dark);
}

.complex_segment .Select-control {
    font-size: 13px;
    font-weight: bold;
    color: var(--bs-gray-dark);
    border: 0px;
    background-color: transparent;
}

.complex_segment .Select-menu-outer {
    min-width: 400px;
    white-space: nowrap;
    font-size: 13px;
    color: var(--bs-gray-dark);
}

.complex_segment .Select-placeholder {
    font-size: 13px;
    font-weight: normal;
    color: var(--bs-gray-dark);
    background-color: transparent;
}

.complex_segment {
    margin-bottom: 5px;
}


.complex_segment .event_name_dropdown.has-value {
    background: rgba(39, 128, 227, 0.2);
}

.complex_segment .simple_segment {
    width: 100%;
    display: flex;
    padding-left: 10px;
}

.complex_segment .simple_segment_with_value {
    width: 100%;
    display: flex;
    padding-left: 10px;
    background: rgba(150, 150, 256, 0.2);
}

.complex_segment .complex_segment_group_by.has-value {
    background: rgba(63, 182, 24, 0.1);
}

.complex_segment_footer {
    border-top: 1px var(--bs-gray-300) solid;
}

.property_operator_dropdown {
    min-width: 70px;
}

.property_name_dropdown {
    min-width: 150px;
}

.metric-type-dropdown {
    width: 180px;
    margin-right: 8px;
    font-size: 12px;
}

.metric-type-dropdown-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.metric-type-dropdown .Select-menu-outer {
    min-width: 180px;
}

/* Button Group */


.graph_container {
    min-height: 500px;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
    user-select: none;
}

.graph_auto_refresh .form-label {
    margin-bottom: 0px;
}

.property_name_prefix {
    line-height: 12px;
    font-size: 8px;
    height: 8px;
    font-weight: normal !important;
}

.Select-value-label .property_name_prefix {
    height: 0px;
}

.property_name {   
    font-size: 12px;   
}


.metric-type-dropdown {
    line-height: 30px;
    height: 30px;
}

.metric-type-dropdown-option {
    line-height: 30px;
    height: 30px;
}

.metric-type-dropdown .Select-control{
    line-height: 30px;
    height: 30px;
}

.metric-type-dropdown .Select-multi-value-wrapper{
    line-height: 30px;
    height: 30px;
}