.main {
    min-width: 450px
}

.DateInput_input {
    padding: 4px;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    color: var(--bs-gray-dark);
    height: 36px;
}


.DateRangePickerInput .DateInput_input {
    border: 0px;
}

.DateRangePickerInput_clearDates_default:hover {
    background: transparent;
}



.DateInput {
    width: 100px;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    color: var(--bs-gray-dark);
}

.DateRangePickerInput_clearDates_svg {
    height: 10px;
}

.DateRangePickerInput_arrow_svg {
    height: 16px;
}

.complex_segment .card-body {
    padding: 4px;
}

.Select-value-label {
    color: var(--bs-gray-dark);
}

.complex_segment .Select-arrow-zone {
    display: None;
}

.Select {
    border-radius: 0px;
    font: var(--bs-font-sans-serif);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    color: var(--bs-gray-dark);
}

.Select-control {
    border-radius: 0px;
    font: var(--bs-font-sans-serif);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    color: var(--bs-gray-dark);
}

.complex_segment .Select-control {
    font-size: 13px;
    font-weight: bold;
    color: var(--bs-gray-dark);
    border: 0px;
    background-color: transparent;
}

.complex_segment .Select-menu-outer {
    min-width: 400px;
    white-space: nowrap;
    font-size: 13px;
    color: var(--bs-gray-dark);
}

.complex_segment .Select-placeholder {
    font-size: 13px;
    font-weight: normal;
    color: var(--bs-gray-dark);
    background-color: transparent;
}

.complex_segment {
    border: solid 1px rgba(150, 150, 256, 0.5);
    margin-bottom: 3px;
}

.complex_segment .event_name_dropdown .Select-control {
    background: rgba(39, 128, 227, 0.1);
}

.complex_segment .simple_segment {
    width: 100%;
    display: flex;
    background: rgba(150, 150, 256, 0.1);
}

.complex_segment .event_name_dropdown .Select-placeholder {
    background: rgba(256, 256, 256);
}

.complex_segment .complex_segment_group_by .Select-placeholder {
    background: rgba(256, 256, 256);
}

.complex_segment .complex_segment_group_by .Select-control {
    background: rgba(63, 182, 24, 0.1);
}


.property_operator_dropdown {
    min-width: 70px;
}

.property_name_dropdown {
    min-width: 150px;
}

.metric-type-dropdown {
    width: 180px;
    margin-right: 8px;
    font-size: 12px;
}

.metric-type-dropdown-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.metric-type-dropdown .Select-menu-outer {
    min-width: 180px;
}




/* Button Group */

/* restyle radio items */
.radio-group .form-check {
    padding-left: 0;
}

.radio-group .btn-group>.form-check:not(:last-child)>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.radio-group .btn-group>.form-check:not(:first-child)>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}