.main {
    font-size: 12px !important;
}

.DateInput_input {
    padding: 4px;
}


.Select-arrow-zone {
    display: None;
}

.complex_segment .card-body {
    padding: 4px;
}


.complex_segment .Select-control {
    border: 1px solid #ccccccff;
    /* border: 0px; */
    background-color: #ffffff00;
}

.complex_segment .has-value .Select-control {
    border: 1px solid #ccccccff;
    /* border: 0px; */
    background-color: #55228822;
}


.metric-type-dropdown {
    width: 180px;
    margin-right: 8px;
}

.metric-type-dropdown-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.metric-type-dropdown .Select-menu-outer {
    min-width: 180px;
}